.jh-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    background-color: #239B56;
    padding: 32px;
    border-bottom: solid 3px black;
}

.jh-banner-logo {
    color: white;
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90px;
}

.jh-title {
    font-size: 55px;
}

.jh-logo {
    height: 80px;
    width:  80px;
    padding: 10px;
}

.jh-subtitle {
    color: white;
    text-align: right;
    font-size: 20px;

    display: flex;
    padding-left: 100px;
    align-items: flex-start;
}