.jh-banner {
    display: flex;
    align-items: center;
    justify-content: start;

    background-color: #239B56;
    color: white;
    text-align: right;
    padding: 32px;
    border-bottom: solid 3px black;
}

.jh-title {
    font-size: 55px;
}

.jh-logo {
    height: 80px;
    width:  80px;
    padding: 10px;
}