.jh-plant-item-cover {
	height: 220px;
	width: 220px;
	object-fit: cover;
	border-radius: 20px;
	margin: 0;
}

.jh-plant-item {
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}